{% extends "layout.html" %}
{% block title %}Start{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                Select your tool
            <!--
            	<div class="handsontable" id="example"></div>
				<br/>testsite<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

<input type="file" title="Search for a file to add" class="btn btn-primary" >
--
import
rulfile: import/open/baserul load/save export
resources: files local/folder
--
check
syntax: tab, intend, yaml error, pure schema, copyright
references: schema: references, fileids, ..
gamelogic: corpses and stuff
language: lang check
binary: images/sounds 
--
merge
select: diifernt ordercombination of mods/baserul
activate: merge
--
binaries
tag: shows sound/sprite/map/terrain and tags with copyright
--
edit
table: table + edit
langedit?
worldedit?
--
view
binary show
techtree
3dwalk?




				<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>//-->
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->


{% endblock %}

{% block head %}
{% endblock %}

{% block jsfooter %}
{% endblock %}
{% block help %}
All Tools have their own Help page.<br />
So click on this button after you selected the tool you want to use.
{% endblock %}